body	{
	background-image: url('../img/bg.png');
	margin: 0px;
	padding: 0px;
	font-family: 'Droid Sans', arial, serif;
	color: #444;
	font-size:100%;
    text-align: center;
}

#enclosure	{
	background: #fff;
	width:800px;
	margin: 0 auto;
	min-height: 400px;
	height: auto !important;
	height: 400px;
	border: 2px #d4d4d4 solid;
	-webkit-box-shadow:0px 0px 50px  #ccc;
	-moz-box-shadow:0px 0px 50px #ccc;
	box-shadow:0px 0px 50px #ccc;
}

#header	{
	/*background-image: url(../img/header.png);*/
	width: 800px;
	height: 120px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#footer	{
	width: 800px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}


#controlBar	{
	position: relative;
	left: 48px;
	width: 704px;
	height: 74px;
	background-image: url('../img/blueTab.png');
}

h1 {
	font-family: 'Droid Sans', arial, serif;
	font-weight:bold;
	font-size:80px;
	color:#23d8f6;
	letter-spacing: -0.1em;
	position: relative;
	left: 48px;
	text-shadow: 3px 3px 3px #93f0ff;
	margin: 0px;
	display: inline;
}

h2	{
	font-weight:bold;
	font-size:30px;
	letter-spacing: -0.1em;
	top: 0px;
	left: 60px;
	margin: 0px;
	color: #93f0ff;
	text-shadow: 1px 1px 1px #23d8f6;
	position: relative;
	display: inline;
}

.help	{
	position: absolute;
	display: block;
	width: 17px;
	height: 17px;
	top: 7px;
	background-image: url('../img/help.png');
	cursor: pointer;
}

#totalMonthlyPaymentHelp	{
	left:215px;
}

#paymentTypeHelp	{
	left:135px;
}

.totalMonthlyPayment	{
	width: 300px;
	position: absolute;
	left: 0px;
}

.fieldTitle
	{
	font-size: 1.1em;
	position: absolute;
	top: 5px;
	left: 10px;
	color: #fff;
	font-weight: bold;
}

.totalMonthlyPayment .fieldInput,
.loanBarInput .fieldInput	{
	font-size: 1.20em;
	position: absolute;
	color: #fff;
	top: 27px;
	left: 10px;
	font-weight: bold;
}

.totalMonthlyPayment .fieldInput input	{
	position: relative;
	left: 5px;
	top: 3px;
	height: 35px;
	width: 100px;
	font-size: 1.20em;
	color: #444;
}

.paymentType	{
	position: absolute;
	width:400px;
	left: 300px;
}

.paymentTypeSelect	{
	position: absolute;
	left: 10px;
	top: 29px;
	height: 50px;
}

.paymentTypeSelect a	{
	text-decoration:none;
}

.paymentTypeButton	{
	width: 120px;
	display: block;
	padding-top: 3px;
	height: 30px;
	font-size: 1.2em;
	border: 1px solid #d4d4d4;
	font-weight: bold;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;
}

#snowfall	{
	left: 120px;
}

.selectedPaymentType	{
	color: #fff;
	background-color: #99f1ff;
}

.unselectedPaymentType	{
	color: #a4a4a4;
	background-color: #badbe0;
}

#paymentSlider	{
	z-index: 2;
	display: block;
	width: 120px;
	height: 5px;
	left: 140px;
	top: 45px;
}

/*
 * Loan Bar Input
 */

#loanBarInputContainer	{
	width: 800px;
}

.createLoanPlus	{
	position: relative;
	width: 90px;
	height: 18px;
	left: 48px;
	background-color: #89eafa;
	color: #fff;
	font-weight: bold;
	text-decoration: none;	
	text-align: left;
	border-left: 2px solid #5ae8ff;
	border-right: 2px solid #5ae8ff;
	border-bottom: 2px solid #5ae8ff;
	margin: 0px;
	cursor: pointer;
}

.loanBarInput	{
	position: relative;
	left: 48px;
	width: 723px;
	height: 72px;
	background-image: url('../img/lightBlueTab.png');
	background-repeat: no-repeat;
}
.loanBarInput .destroyLoanX	{
	position: absolute;
	left: 704px;
	width:19px;
	height:22px;
	background-image: url('../img/blueX.png');
	cursor: pointer;
}
.loanBarInput .input	{
	position: relative;
        left: 10px;
        top: 5px;
        height: 30px;
        font-size: 1.20em;
        color: #444;
}

.loanBarInput .fieldInput input  {
        position: relative;
        top: 3px;
        height: 35px;
        font-size: 1.20em;
        color: #444;
}

.invalidField	{
	background-color:#ffc1c1;
}

.loanBarInput .loanName	{
	position: absolute;
	left: 0px;
	width: 225px;
}
.loanBarInput .currentBalance	{
	position: absolute;
	left: 225px;
	width: 175px;
}
.loanBarInput .minMonthlyPayment	{
	position: absolute;
	left: 405px;
	width: 175px;
}
.loanBarInput .interest	{
	position: absolute;
	left: 580px;
	width: 115px;
}

.loanBarInput .loanName input	{
	width: 215px;
}

.loanBarInput .currentBalance input	{
	width: 150px;
	left: 5px;
}

.loanBarInput .minMonthlyPayment input	{
	width: 140px;
	left: 5px;
}

.loanBarInput .interest	input	{
	width: 80px;
	left: 5px;
}

#loanBarInputContainer	{
	width: 800px;
}


/*
 * Calculate
 */

a.calculate	{
	font-weight:bold;
	font-size:25px;
	color:#23d8f6;
	letter-spacing: -0.1em;
	margin: 0 auto;
	text-shadow: 1px 1px 1px #93f0ff;
	text-decoration: none;
	cursor: pointer;
}	

/*
 * Result Bar
 */

#allResultsContainer	{
	width: 800px;
	text-align: left;
}

.resultBarLink	{
	text-decoration: none;
}

.resultBar	{
	position: relative;
	left: 48px;
	width: 723px;
	height: 72px;
	background-image: url('../img/greenTab.png');
	background-repeat: no-repeat;
	cursor: pointer;
	
}

.resultBar .loanName, .resultBar .payoffDate, .resultBar .totalInterest,
.resultBar .payoffDateText, .resultBar .totalInterestText	{
	color: #fff;
	text-decoration: none;
	font-weight:bold;
}

.resultBar .loanName	{
	position: absolute;
	left: 20px;
	top: 7px;
	width: 450px;
	font-size:40px;
}

.resultBar .payoffDate, .resultBar .payoffDateText,
.resultBar .totalInterest, .resultBar .totalInterestText	{
	position: absolute;
}

.resultBar .payoffDate	{
	top: 24px;
	font-size:22px;
	left: 400px;
}

.resultBar .payoffDateText	{
	top: 5px;
	font-size:16px;
	left: 400px;
}

.resultBar .totalInterest	{
	top: 24px;
	font-size:22px;
	left: 530px;
}
.resultBar .totalInterestText	{
	top: 5px;
	left: 530px;
	font-size:16px;
}

.resultBar .resultBarDetailsClick	{
	position: absolute;
	left: 22px;
	top: 54px;
	font-size:13px;
	color: #d6ffe0;
}

/*
 * Monthly Results
 */

.monthlyResults	{
	position: relative;
	left: 48px;
	width:704px;
	background-color:#eeeeee;
	cursor: pointer;
	text-align: right;
}
.monthlyResults	td{
	text-align: right;
}

.monthlyResults	td.month	{
	width:100px;
}
.monthlyResults	td.principle	{
	width:130px;
}
.monthlyResults	td.totalInterest	{
	width:100px;
}
.monthlyResults	td.monthlyPayment	{
	width:100px;
}
.monthlyResults	td.princPaid	{
	width:100px;
}
.monthlyResults	td.interestPaid	{
	width:100px;
}

tr.alternateRows0	{
	/*background-color:#;*/
}
tr.alternateRows1	{
	background-color:#dddddd;
}

.tHead	{
	font-weight:bold;
}

/*
 * Total Results
 */

#totalResults	{
	width: 800px;
	text-align: left;
	display: none;
}

#totalResultsBar	{
	position: relative;
	left: 48px;
	width: 723px;
	height: 74px;
	background-image: url('../img/lightGreenTab.png');
	background-repeat: no-repeat;
}

#totalResultsBar .name, #totalResultsBar .payoffDate, #totalResultsBar .totalInterest,
#totalResultsBar .payoffDateText, #totalResultsBar .totalInterestText	{
	color: #fff;
	font-weight:bold;
}

#totalResultsBar .name	{
	position: absolute;
	text-align: left;
	left: 20px;
	top: 7px;
	width: 450px;
	font-size:40px;
}

#totalResultsBar .payoffDate, #totalResultsBar .payoffDateText,
#totalResultsBar .totalInterest, #totalResultsBar .totalInterestText	{
	position: absolute;
}

#totalResultsBar .payoffDate	{
	top: 24px;
	font-size:22px;
	left: 400px;
}

#totalResultsBar .payoffDateText	{
	top: 5px;
	font-size:16px;
	left: 400px;
}

#totalResultsBar .totalInterest	{
	top: 24px;
	font-size:22px;
	left: 530px;
}
#totalResultsBar .totalInterestText	{
	top: 5px;
	left: 530px;
	font-size:16px;
}


/*
 * Info/Tooltips
 */ 

#error  {
    background-color: #e35a5a;
    position: fixed;
    display: block;
    border: 1px #aaaaaa solid;
    top: 0px;
    z-index: 10;
    width: 800px;
    height: 50px;
}

#error p    {
    margin: 0px 5px 5px 0px;
    color: #fff;
}

#info	{
	float: right;
	top: 5px;
	left: 600px;
	margin: 5px;
	font-size: 11px;
	color: #19d7f5;
}

#info a, .link, .linkClose, .moreInfo a, .helpContent a	{
	text-decoration: underline;
	color: #19d7f5;
	cursor: pointer;
}

#moreInfo	{
	position: relative;
	left: 0px;
	top: 0px;
}


.moreInfo a  {
    color: #fff;
}

.moreInfo	{
    text-align: left;
	position: absolute;
	display: none;
	z-index: 5;
	top: 0px;
	left: 600px;
	width: 250px;
	border: 2px solid #fff;
	-webkit-box-shadow:0px 0px 5px  #ccc;
	-moz-box-shadow:0px 0px 5px #ccc;
	box-shadow:0px 0px 5px #ccc;
	font-size: 11px;
	background-color: #23d8f6;
	color: #fff;
}

.moreInfo p {
    margin: 10px;
}

#helpPopup	{
	position: absolute;
	top:0px;
	left:0px;
}

.helpContent a  {
    color: #23d8f6;
}

.helpContent	{
    text-align: left;
	position: absolute;
	display: none;
	z-index: 10;
	width: 200px;
	border: 2px solid #fff;
	-webkit-box-shadow:0px 0px 5px  #ccc;
	-moz-box-shadow:0px 0px 5px #ccc;
	box-shadow:0px 0px 5px #ccc;
	font-size: 11px;
	background-color: #23d8f6;
	color: #fff;
}

.helpContent p  {
    margin: 5px;
}

.smallHelpContent	{
	position: absolute;
	display: none;
	z-index: 10;
	width: 40px;
	height: 10px;
	border: 2px solid #fff;
	-webkit-box-shadow:0px 0px 5px  #ccc;
	-moz-box-shadow:0px 0px 5px #ccc;
	box-shadow:0px 0px 5px #ccc;
	font-size: 11px;
	background-color: #93f0ff;
	color: #fff;
}


/*
 * Graph
 */

#graph, #graphTitle, #graphViewOptions	{
	display: none;
}

#graph	{
	width: 600px;
	height: 300px;
	left: 100px;
}

#graphTitle	{
	font-size: 16px;
	color: #19d7f5;
	font-weight:bold;
	margin: 20px auto;
}

#graphViewOptions	{
	margin: 10px auto;
	font-size: 11px;
	color: #19d7f5;
}

.graphView	{
	cursor: pointer;
	text-decoration: underline;
}

